<section class="bg-main bg-color shape-section bg-secondary">
    <div class="container">
      <div class="row">
        <!-- Left Side -->
        <div class="col-12 col-md-12 col-lg-6 d-flex flex-column justify-content-center align-items-start">
          <h1>THREE.JS</h1>
          <p class="">
            Three.js is a cross-browser JavaScript library and application programming interface used to create and display animated 3D computer graphics in a web browser using WebGL. Three.js allows the creation of GPU-accelerated 3D animations using the JavaScript language as part of a website without relying on proprietary browser plugins.
          </p>
         <div>
          <button class="btn btn-danger">
           <a href="" class="text-decoration-none text-white"> Get Started</a> <span class="bi bi-chevron-right"></span>
        </button>
    </div>
          </div>         
          

  
        <!-- Right Side -->
    
        <div class="col-12 col-md-12 col-lg-6">
          <div class="text-center text-lg-end">
            <video src="../assets/images/platforms/three.mp4"
              class="hero-video-section img-fluid video-first-sec" loop autoplay muted></video>
          </div>
        </div>
      </div>
      <div class="custom-shape-divider-bottom-1699272722">
        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
            <path d="M892.25 114.72L0 0 0 120 1200 120 1200 0 892.25 114.72z" class="shape-fill"></path>
        </svg>
    </div>
    </div>
  
   
  </section>
